<mdb-navbar style="max-height: 80px;" SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">
    <mdb-navbar-brand><a class="navbar-brand" href="#">Healfit</a></mdb-navbar-brand>
  
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link waves-light" href="/" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            Features<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="/tracker">Track</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="/blogs">Tips and Remedies</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="/analysis">Analysis</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item waves-light" mdbWavesEffect href="/consultation">Talk</a>
          </div>
        </li>
  
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link">
            <div class="btn-group" mdbDropdown>
              <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
              <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                <a class="dropdown-item" href="#">My Profile</a>
                <a class="dropdown-item" href="#">LogOut</a>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </links>
  </mdb-navbar>