<div style="overflow-y: auto">
<app-carousel></app-carousel>
<app-navbar></app-navbar>
<div style="background-image: url(~../../assets/background.png)">
<div style="margin-left: 10%">
<div class="container">
<div class="row">
<div class="col-sm-6">
<!-- <div class="container"> -->
    <div class="card">
      <div class="imgBx">
        <img src="~./../../assets/tipsandremedies.svg"/>
      </div>
      <div class="contentBx">
        <h2>Tips and Remedies</h2>
        <p>
          View blogs from experts for tips, remedies and educational content
          based on Science.
        </p>
        <div>
            <a href="healfit-frontend/blogs"><span>Read</span></a>
        </div>        
      </div>
    </div>
<!-- </div> -->
</div>
<div class="col-sm-6">
    <!-- <div class="container"> -->
        <div class="card">
          <div class="imgBx">
            <img src="~./../../assets/calendar.png" />
          </div>
          <div class="contentBx">
            <h2>Start Tracking</h2>
            <p>
              Start tracking your period, energy, sleep, medication with our easy-to-use tracking 
              calendar.See your tracked data in clear overview.
            </p>
            <a href="healfit-frontend/tracker"><span>Start</span></a>
          </div>
        </div>
      </div>
    <!-- </div> -->
</div>
</div>
<div class="container">
<div class="row">
    <div class="col-sm-6">
    <!-- <div class="container"> -->
        <div class="card">
          <div class="imgBx">
            <img src="~./../../assets/analysis.png" />
          </div>
          <div class="contentBx">
            <h2>Prediction and Analysis</h2>
            <p>
              Prediction and analysis to you and your body helps in
              determining the patterns, growth rate etc thus helps in 
              effective treatment.   
            </p>
            <a href="healfit-frontend/analysis"><span>Analyse</span></a>
            <a href="healfit-frontend/predict"><span>Predict</span></a>
          </div>
        </div>
      <!-- </div> -->
    </div>
    <div class="col-sm-6">
        <!-- <div class="container"> -->
            <div class="card">
              <div class="imgBx">
                <img src="~./../../assets/consultation1.png" />
              </div>
              <div class="contentBx">
                <h2>Talk to Experts</h2>
                <p>
                  Online consultation regarding every problem from industry experts just a click away!
                </p>
                <a href="healfit-frontend/consultation"><span>Talk</span></a>
              </div>
            </div>
          <!-- </div> -->
        </div>
    </div>
</div>
</div>
</div>
<app-footer></app-footer>
</div>
  
  